<ul>
  <% resource.links.each do |link| %>
    <% if link.gist? %>
      <div class="gist" data-gist="<%= link.url.split('/').last %>">
        <a>Loading</a>
      </div>
    <% else %>
      <p><%= link_to link.name, link.url %></p>  
    <% end %>
  <% end %>
</ul>

